<html>
 <head></head>
 <body>
  <div class="header">
   <ul class="nav nav-pills pull-right">
    <li><a href="https://github.com/XIU2/peerflix-server-zh" target="_blank"><i class="fa fa-github"></i> Github</a></li>
   </ul>
   <h3 class="text-muted text-nowrap"><img src="images/logo.svg" alt="logo" height="40" style="margin-top: -6px;" /> Peerflix Server</h3>
  </div>
  <div class="jumbotron" ng-file-drop="" ng-file-change="upload($files)">
   <h1 style="font-size: 56px;margin-bottom: 20px;">极速下载</h1>
   <div class="form-group">
    <div class="input-group">
     <span class="input-group-addon">链接:</span> 
     <input type="text" class="form-control" placeholder="请在这里输入BT种子的URL或磁力链接。" ng-model="link" ng-keypress="keypress($event)" />
    </div>
	<p style="float: right;margin: 5px 0 -30px 0;"><i class="fa fa-upload"></i> <span class="btn-link" ng-file-select="" ng-file-change="upload($files)">打开本地.torrent文件</span></p>
   </div>
   <a class="btn btn-success" href="" ng-click="download()" style="padding: 8px 24px;margin-top: 10px;"><span class="fa fa-cloud-download"></span> 下载</a>
  </div>
  <div ng-if="!torrents.length" class="alert alert-info" role="alert">
   <i class="fa fa-film"></i> 快去下载BT种子/磁力链接吧！
  </div>
  <div class="row content">
   <div ng-repeat="torrent in torrents" class="panel panel-default" ng-class="{ 'panel-warning': !torrent.ready, 'panel-success': torrent.interested }">
    <div class="panel-heading">
     <button type="button" class="close" ng-click="remove(torrent)">&times;</button> 
     <span class="fa" ng-class="{
        'fa-cloud-upload': torrent.ready &amp;&amp; !torrent.interested,
        'fa-refresh fa-spin': !torrent.ready,
        'fa-exchange': torrent.interested }"></span> 
     <span ng-if="!torrent.name">获取数据中...</span> {{ torrent.name }}
    </div>
    <div class="panel-body">
     <div class="progress progress-striped" ng-class="{ active: torrent.interested }">
      <div ng-class-even="'space'" ng-class-odd="'progress-bar progress-bar-success'" ng-repeat="progress in torrent.progress track by $index" ng-style="{ width: progress + '%' }"></div>
     </div>
     <ul class="list-group">
      <li class="list-group-item list-group-item-header" ng-if="torrent.files.length &gt; 1"><label class="list-group-item-heading text-nowrap"><input type="checkbox" ng-model="torrent.selected" ng-click="selectAll(torrent)" /> <span class="fa fa-cloud-download"></span> All {{ torrent.files.length }} files ({{ torrent.length / 1024 / 1024 | number:1 }} MB)</label><span>&nbsp;—</span> <span class="list-group-item-text text-nowrap">保存为 <a ng-href="/torrents/{{ torrent.infoHash }}/archive" target="_blank"><span class="fa fa-file-zip-o"></span> 压缩包[zip]</a> 或生成 <a ng-href="/torrents/{{ torrent.infoHash }}/files" target="_blank" title="该文件内记录了视频(音频)的URL，使用本地播放器打开即可直接播放。&#10;如果你觉得浏览器播放视频(音频)不好用，那么就可以生成这个文件并用本地播放软件打开播放(甚至投屏到其他设备)。"><span class="fa fa-play-circle-o"></span> 播放列表[m3u]</a> </span></li>
      <li class="list-group-item text-nowrap" ng-repeat="file in torrent.files"><input type="checkbox" ng-model="file.selected" ng-click="select(torrent, file)" /> <span class="fa fa-cloud-download"></span> <a ng-href="{{ file.link }}" target="_blank">{{ file.name }} ({{ file.length / 1024 / 1024 | number:1 }} MB)</a></li>
     </ul>
    </div>
    <div class="panel-footer">
     <ul class="list-unstyled list-inline" style="line-height: 1.5;">
      <li class="text-nowrap"><button type="button" class="btn btn-xs" ng-click="pause(torrent)"><span class="fa {{ torrent.stats.paused ? 'fa-play' : 'fa-pause' }}"></span></button></li>
      <li class="text-nowrap" ng-show="torrent.stats"><strong>速度:</strong> <span class="label label-success">{{ torrent.stats.speed.down / 1024 | number:1 }}</span> / <span class="label label-danger">{{ torrent.stats.speed.up / 1024 | number:1 }}</span> KB/s</li>
      <li class="text-nowrap" ng-show="torrent.stats"><strong>流量:</strong> <span class="label label-success">{{ torrent.stats.traffic.down / 1024 / 1024 | number:1 }}</span> / <span class="label label-danger">{{ torrent.stats.traffic.up / 1024 / 1024 | number:1 }}</span> MB</li>
      <li class="text-nowrap" ng-show="torrent.stats"><strong>用户:</strong> <span class="label label-success">{{ torrent.stats.peers.unchocked | number }}</span> / <span class="label label-default">{{ torrent.stats.peers.total | number }}</span></li>
      <li class="text-nowrap" ng-show="torrent.stats"><strong>队列:</strong> <span class="label label-primary">{{ torrent.stats.queue | number }}</span></li>
     </ul>
    </div>
   </div>
  </div>
  <div class="footer">
   <p><span class="fa fa-heart"></span> asapach / X.I.U / XIU2</p>
  </div>
 </body>
</html>
